<% define_template "donor_detail", jsonmodel_definition(:donor_detail) do |form| %>
  <div class="subrecord-form-fields">
  	<% if form.obj["number"].blank? %>
	<%= form.label_and_textfield "number", {:field_opts => {:automatable => true}} %>
	<% else %>
	<%= form.label_and_textfield "number" %>
	<% end %>
    <%= form.label_and_textfield "dart_id" %>
  </div>
<% end %>

<script src="<%= "#{AppConfig[:frontend_prefix]}assets/donor_detail.crud.js" %>"></script>
